* {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font;
  padding-top: 100px;
}
button,
input {
  font-family: $font;
}
summary {
  display: block;
  &::-webkit-details-marker {
    display: none;
  }
}

@media (min-width: 1440px) {
  .center {
    max-width: (1440px - 30px * 2);
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (1440px - 30px * 2) / 2);
  }
}

@media (max-width: 1439px) {
  .center {
    max-width: (1140px - 20px * 2);
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (1140px - 20px * 2) / 2);
  }
}

@media (max-width: 1139px) {
  .center {
    max-width: (768px - 16px * 2);
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (768px - 16px * 2) / 2);
  }
}

@media (max-width: 767px) {
  .center {
    max-width: (375px - 8px * 2);
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (375px - 8px * 2) / 2);
  }
}
