* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #000000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding-top: 100px;
}

button,
input {
  font-family: "Roboto", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

@media (min-width: 1440px) {
  .center {
    max-width: 1380px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (1440px - 30px * 2) / 2);
  }
}

@media (max-width: 1439px) {
  .center {
    max-width: 1100px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (1140px - 20px * 2) / 2);
  }
}

@media (max-width: 1139px) {
  .center {
    max-width: 736px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (768px - 16px * 2) / 2);
  }
}

@media (max-width: 767px) {
  .center {
    max-width: 359px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (375px - 8px * 2) / 2);
  }
}

.pagination__list {
  padding-top: 14px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  font-size: 16px;
  line-height: 150%;
  color: #e40012;
  padding-right: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pagination__item::after {
  color: #c6c6c6;
  content: ">";
  padding-left: 8px;
}

.pagination__item:last-child::after {
  content: none;
}

.pagination__link {
  font-size: 16px;
  line-height: 150%;
  color: #c6c6c6;
}

.pagination__link:hover {
  color: #e40012;
}

@media (max-width: 767px) {
  .pagination__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  background: #000000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 130px 130px;
      grid-template-columns: 130px 130px 130px;
  height: 100%;
  grid-gap: 10px;
  margin-left: 120px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item-bc {
  background-image: url(../img/menu-figure.png);
}

.menu__link {
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__form {
  margin-right: 33px;
  width: 248px;
}

.search-form {
  position: relative;
}

.search-form__input {
  background: #ffffff;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 19px;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-form__input::-webkit-input-placeholder {
  color: #c6c6c6;
}

.search-form__input:-ms-input-placeholder {
  color: #c6c6c6;
}

.search-form__input::-ms-input-placeholder {
  color: #c6c6c6;
}

.search-form__input::placeholder {
  color: #c6c6c6;
}

.search-form__img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 25%;
  right: 5%;
}

.header__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.icons__link {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icons__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.icons__circle {
  /* display: none; */
  position: absolute;
  top: -6px;
  left: 22px;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  background: red;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu {
  display: none;
}

.burger-menu__input:checked ~ .burger-menu__open {
  display: block;
}

.burger-menu__input:checked ~ .burger-menu__label .burger-menu__img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.burger-menu__input {
  display: none;
}

.burger-menu__label {
  cursor: pointer;
}

.burger-menu__img {
  -webkit-transition: 1s;
  transition: 1s;
}

.burger-menu__open {
  display: none;
  position: absolute;
  z-index: 500;
  right: 0;
  top: 100px;
  background: #1c1c1c;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.burger-menu__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 40px;
}

.burger-menu__item {
  padding-bottom: 9px;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.burger-menu__item:first-child, .burger-menu__item:nth-child(2) {
  padding-bottom: 20px;
}

.burger-menu__item:last-child {
  padding-bottom: 0;
}

.burger-menu__link {
  font-size: 18px;
  line-height: 150%;
  color: #959699;
}

@media (max-width: 1439px) {
  .header__menu {
    margin-left: 0;
  }
}

@media (max-width: 1139px) {
  .header__menu {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .header__form {
    margin-right: 0;
    width: 300px;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu__item:first-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__form {
    display: none;
  }
  .burger-menu__item:first-child {
    display: block;
  }
  .burger-menu__link {
    margin-left: 0;
  }
  .burger-menu__open {
    width: 100vw;
  }
  .burger-menu__list {
    padding: 37px 34px;
  }
}

.promo__info {
  background-image: url(../img/promo.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65%;
  padding-top: 86px;
  padding-left: 42px;
  padding-bottom: 168px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo__heading {
  font-size: 55px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 26px;
}

.promo__text {
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  width: 413px;
  margin-bottom: 39px;
}

.btn-transition__link {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(93.28deg, #ff1e2c -1.4%, #b70011 90.07%);
  border-radius: 30px;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  padding: 10px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-transition__link:hover .btn-transition__icon {
  display: block;
}

.btn-transition__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-transition__icon {
  display: none;
  position: absolute;
  top: 14px;
  right: 18px;
}

.description {
  background-image: url(../img/background-description.png);
  background-repeat: no-repeat;
  background-position: 115px center;
  background-size: 38%;
}

.description__wrapper {
  margin-left: auto;
  padding-top: 73px;
  width: 50%;
  padding-bottom: 223px;
}

.description__heading {
  padding-bottom: 60px;
  font-size: 48px;
  line-height: 140%;
  color: #ffffff;
}

.description__text {
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  width: calc(100% - 19%);
}

.advantages__wrapper {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 144px;
}

.advantages__heading {
  font-size: 48px;
  line-height: 140%;
  color: #ffffff;
  padding-bottom: 83px;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 53px;
}

.advantage__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 16px;
}

.advantage__text {
  margin: 0 auto;
  max-width: 358px;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.specials__wrapper {
  text-align: center;
}

.specials__heading {
  font-size: 48px;
  line-height: 140%;
  color: #ffffff;
}

.specials__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 38px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.special-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-item__img {
  background-image: url(../img/special-item.png);
  background-position: center 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 331px;
}

.special-item__heading {
  margin-top: 15px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
}

.special-item__link {
  display: inline-block;
  font-size: 20px;
  line-height: 160%;
  color: #e40012;
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.special-item__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.specials__items .special-item:nth-child(2) .special-item__img {
  width: 426px;
  background-position: center 165px;
  background-size: 110%;
}

.feedback__wrapper {
  background-image: url(../img/feedback-bc.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 201px;
  padding-bottom: 130px;
}

.feedback__heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 41px;
}

.feedback__text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  padding-bottom: 22px;
  max-width: 508px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__input {
  padding: 15px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  border: none;
  outline: none;
  margin: 0 auto;
  width: 310px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 38px;
}

.feedback__input::-webkit-input-placeholder {
  color: #c6c6c6;
}

.feedback__input:-ms-input-placeholder {
  color: #c6c6c6;
}

.feedback__input::-ms-input-placeholder {
  color: #c6c6c6;
}

.feedback__input::placeholder {
  color: #c6c6c6;
}

.feedback__btn {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 257px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 17px;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  background: linear-gradient(93.28deg, #ff1e2c -1.4%, #b70011 90.07%);
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.feedback__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1439px) {
  .promo__info {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .promo__heading {
    font-size: 44px;
  }
  .promo__text {
    width: 350px;
  }
  .description {
    background-position: 90px center;
  }
  .description__wrapper {
    padding-top: 70px;
    padding-bottom: 160px;
  }
  .description__heading {
    padding-bottom: 40px;
    font-size: 40px;
  }
  .advantages__wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .advantages__heading {
    font-size: 40px;
  }
  .specials__heading {
    font-size: 40px;
  }
  .feedback__wrapper {
    padding-top: 140px;
  }
}

@media (max-width: 1139px) {
  .promo__info {
    padding-left: 22px;
    padding-top: 50px;
  }
  .promo__heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .promo__text {
    width: 250px;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .btn-transition__link {
    font-size: 16px;
    padding: 8px 30px;
  }
  .btn-transition__link:hover .btn-transition__icon {
    display: none;
  }
  .description {
    background-position: left center;
  }
  .description__wrapper {
    padding-top: 100px;
    padding-bottom: 90px;
  }
  .description__heading {
    font-size: 28px;
  }
  .description__text {
    font-size: 12px;
  }
  .advantages__wrapper {
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .advantages__heading {
    font-size: 28px;
    padding-bottom: 40px;
  }
  .advantages__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .advantage__heading {
    padding-top: 40px;
  }
  .advantage__text {
    font-size: 12px;
  }
  .specials__heading {
    font-size: 28px;
  }
  .specials__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .specials__items .special-item:nth-child(2) .special-item__img {
    background-position: center 120px;
    background-size: 100%;
    width: 331px;
  }
  .feedback__wrapper {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .promo__info {
    background-image: none;
    text-align: center;
    padding-left: 0;
  }
  .promo__text {
    margin-right: auto;
    margin-left: auto;
  }
  .btn-transition__link {
    font-size: 14px;
  }
  .description {
    background-image: none;
  }
  .description__wrapper {
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .description__text {
    width: 250px;
    margin: 0 auto;
  }
  .special-item__img {
    width: 100%;
  }
  .specials__items .special-item:nth-child(2) .special-item__img {
    width: 100%;
  }
}

.category__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (330px)[4];
      grid-template-columns: repeat(4, 330px);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 89px;
}

.category__item {
  width: 330px;
  height: 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #232323;
  border-radius: 10px;
  position: relative;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.category__item:hover {
  border: red 1px solid;
}

.category__img {
  max-height: 267px;
  max-width: 267px;
}

.category__text {
  width: calc(100% - 40px);
  position: absolute;
  top: 266px;
  left: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
}

@media (max-width: 1439px) {
  .category__wrapper {
    -ms-grid-columns: (330px)[3];
        grid-template-columns: repeat(3, 330px);
    grid-gap: 15px;
  }
}

@media (max-width: 1139px) {
  .category__wrapper {
    -ms-grid-columns: (330px)[2];
        grid-template-columns: repeat(2, 330px);
  }
}

@media (max-width: 767px) {
  .category__wrapper {
    -ms-grid-columns: 330px;
        grid-template-columns: 330px;
    grid-gap: 10px;
  }
}

.footer {
  background: #1c1c1c;
}

.footer__wrapper {
  padding-top: 58px;
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: auto;
}

.footer__heading {
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 11px;
}

.footer__item {
  padding-bottom: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer__item:last-child {
  padding-bottom: 0;
}

.footer__link {
  font-size: 18px;
  line-height: 150%;
  color: #959699;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 228px;
}

.social__img {
  fill: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.social__img:hover {
  fill: #000000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1139px) {
  .footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__socials h4 {
    display: none;
  }
  .footer__info, .footer__contacts {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */