@import "_var.scss";
@import "_mixins.scss";
@import "main";

@import "blocks/_elements.scss";
@import "blocks/_header.scss";
@import "blocks/_index.scss";
@import "blocks/_catalog.scss";
@import "blocks/_delivery.scss";
@import "blocks/_enter-profile.scss";
@import "blocks/_privacy.scss";
@import "blocks/_profile.scss";
@import "blocks/_busket.scss";
@import "blocks/_footer.scss";
