* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #000000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

button,
input {
  font-family: "Roboto", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 calc(50% - 1440px / 2);
}

@media (max-width: 1480px) {
  .center {
    max-width: 1080px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (1140px - 30px * 2) / 2);
  }
}

@media (max-width: 1180px) {
  .center {
    max-width: 736px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (768px - 16px * 2) / 2);
  }
}

@media (max-width: 797px) {
  .center {
    max-width: 359px;
    margin: 0 auto;
  }
  .container {
    padding: 0 calc(50% - (375px - 8px * 2) / 2);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 56px;
}

.menu__link {
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__form {
  margin-right: 33px;
  width: 248px;
}

.search-form {
  position: relative;
}

.search-form__input {
  background: #eaeaea;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 19px;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-form__input::-webkit-input-placeholder {
  color: #c6c6c6;
}

.search-form__input:-ms-input-placeholder {
  color: #c6c6c6;
}

.search-form__input::-ms-input-placeholder {
  color: #c6c6c6;
}

.search-form__input::placeholder {
  color: #c6c6c6;
}

.search-form__input:hover {
  background: #ffffff;
}

.search-form__img {
  position: absolute;
  top: 25%;
  right: 5%;
}

.header__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.icons__img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icons__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.burger-menu,
.burger-menu__input,
.burger-menu__open {
  display: none;
}

.burger-menu__label {
  cursor: pointer;
}

.burger-menu__input:checked ~ .burger-menu__open {
  display: block;
}

.burger-menu__open {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 100px;
  background: #1c1c1c;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 100vw;
}

.burger-menu__list {
  text-align: center;
  padding: 37px 34px;
}

.burger-menu__item {
  padding-bottom: 9px;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.burger-menu__item:first-child, .burger-menu__item:nth-child(2) {
  padding-bottom: 20px;
}

.burger-menu__item:last-child {
  padding-bottom: 0;
}

.burger-menu__link {
  font-size: 18px;
  line-height: 150%;
  color: #959699;
}

@media (max-width: 1180px) {
  .header__menu,
  .header__icons {
    display: none;
  }
  .header__form {
    margin-right: 0;
    width: 300px;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu__item:first-child {
    display: none;
  }
}

@media (max-width: 797px) {
  .header__form {
    display: none;
  }
  .burger-menu__item:first-child {
    display: block;
  }
  .burger-menu__link {
    margin-left: 0;
  }
}

.footer {
  margin-top: auto;
  background: #1c1c1c;
  height: 284px;
}
/*# sourceMappingURL=style.css.map */