.pagination {
  &__list {
    padding-top: 14px;
    padding-bottom: 16px;
    display: flex;
  }
  &__item {
    font-size: 16px;
    line-height: 150%;
    color: #e40012;
    padding-right: 20px;
    transition: 0.4s;
    &::after {
      color: #c6c6c6;
      content: ">";
      padding-left: 20px;
    }
    &:last-child::after {
      content: none;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 150%;
    color: #c6c6c6;
    &:hover {
      color: #e40012;
    }
  }
}

@media (max-width: 767px) {
  .pagination__list {
    justify-content: center;
  }
}
