.header {
  background: #000000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
    position: relative;
  }
  &__menu {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    height: 100%;
    grid-gap: 10px;
    margin-left: 120px;
  }
  &__right {
    display: flex;
  }
}

.menu {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    &-bc {
      background-image: url(../img/menu-figure.png);
    }
  }
  &__link {
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    transition: 0.4s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.header__form {
  margin-right: 33px;
  width: 248px;
}
.search-form {
  position: relative;
  &__input {
    background: #ffffff;
    font-size: 16px;
    line-height: 150%;
    box-sizing: border-box;
    padding: 6px 19px;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 100%;
    transition: 0.4s;
    &::placeholder {
      color: #c6c6c6;
    }
  }
  &__img {
    transition: 0.4s;
    position: absolute;
    top: 25%;
    right: 5%;
  }
}

.header__icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.icons {
  &__link {
    position: relative;
    transition: 0.4s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__circle {
    /* display: none; */
    position: absolute;
    top: -6px;
    left: 22px;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    background: red;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.burger-menu {
  display: none;
  &__input:checked ~ &__open {
    display: block;
  }
  &__input:checked ~ &__label &__img {
    transform: rotate(180deg);
  }
  &__input {
    display: none;
  }
  &__label {
    cursor: pointer;
  }
  &__img {
    transition: 1s;
  }
  &__open {
    display: none;
    position: absolute;
    z-index: 500;
    right: 0;
    top: 100px;
    background: #1c1c1c;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  &__list {
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
  }
  &__item {
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    &:first-child,
    &:nth-child(2) {
      padding-bottom: 20px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 150%;
    color: #959699;
  }
}
@media (max-width: 1439px) {
  .header {
    &__menu {
      margin-left: 0;
    }
  }
}
@media (max-width: 1139px) {
  .header {
    &__menu {
      display: none;
    }
    &__icons {
      display: none;
    }
    &__form {
      margin-right: 0;
      width: 300px;
    }
  }

  .burger-menu {
    display: block;
    &__item:first-child {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header__form {
    display: none;
  }

  .burger-menu {
    &__item:first-child {
      display: block;
    }
    &__link {
      margin-left: 0;
    }
    &__open {
      width: 100vw;
    }
    &__list {
      padding: 37px 34px;
    }
  }
}
